.page2 {
    background-color: #f5f5f5; 
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.page2 > div {
    height: 100%;
}

.page2 > div:first-child {
    flex: 2;
    display: flex;
}
.page2 > div:last-child {
    flex: 3;

}

.page2 > div > img {
    width: 80%;
    object-fit: contain;
    margin-top: -100px;
}

.information-p {
    max-width: 90%;
    font-weight: 300;
    text-align: justify;
    margin-top: 45px;
}
.information-p>  b {
    font-weight: 500;
}